header ul {
    display: grid;
    grid-template-columns: 1fr 0.5fr auto auto;
    padding: 1.822vw 0px;
    align-items: center;
}

header ul li {
  list-style: none;
  display: flex;
  height: 44px;
  align-items: center;
}

header ul li a {
    text-decoration: none;
}

header img.logo {
    width: 16vw;
}

header .ref-soc img {
    height: 1.458vw;
    margin: 0px .781vw;
}

header .lang {
    margin-left: 3.645;
}

header .lang svg {
    position: relative;
    left: 0.3125vw;
    top:0.3125vw;
}

header .lang span {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1458vw;
    line-height: 0.833vw;

    color: #000000;

}

header button {
    cursor: pointer;
}

header .container {
    overflow: visible;
}
header button.login {
    padding-right: 30px;
    border-right: 1px solid black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}


header button.registr {
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 30px;
}

header .lines-animations {
    position: absolute;
    left: calc(50vw - 18.75vw);
}

.modal.active {
    display: block;
}

.modal-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3B3A45;
    opacity: 0.9;
}
.modal {
    z-index: 101;
    padding: 4.010416666666667vw 4.34375vw;
    background: white;
    border-radius: 0.2604166666666667vw;
    width: 100%;
    max-width: 37.6875vw;
}

.modal h2 {
    font-family: 'ALS Gorizont';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0833333333333335vw;
    line-height: 2.6354166666666665vw;
    display: flex;
    align-items: center;
    color: #255ECC;
}

.modal a {
    display: block;
    text-align: center;
    margin-top: 3.6458333333333335vw;
}

.modal button:not(.login-ref) {
    background: #255ECC;
    width: 100%;
    border: 0;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.5104166666666667vw;
    color: #FFFFFF;
    display: block;
    padding: 1.354vw;
    text-align: center;
    border-radius: 0.2604166666666667vw;
    opacity: 1;
}

.modal button {
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 1.25vw;
    display: flex;
    align-items: center;
    color: #255ECC;
    opacity: 0.6;
    text-decoration: none;
    margin-top: 1.8229166666666667vw;
}

.modal input {
    height: 4.270833333333333vw;
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border-radius: 0.2604166666666667vw;
    outline: none;
    margin: 0.2604166666666667vw 0;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 1.25vw;
    display: flex;
    align-items: center;
    border: 1px solid #255ECC !important;
}
.modal.reg input:focus , .modal.reg input:active{
  border: 1px solid #255ECC ;
}

.modal.reg {
    padding: 2.6041666666666665vw 4.34375vw;
}

.modal.reg input {
    height: 3.2291666666666665vw;
}
.modal.choise{
   padding: 5.8vw;
   background: #FFFFFF;
   border: .3125vw solid #9657EC;
   border-radius: 1.56vw;
}
.modal input::placeholder {
    color: black;
}
.modal.choise .btns{
    display: flex;
    gap: 5vw;
    flex-direction: column;

}
header button{
  height: 100%;
}
.modal.choise .btns button:last-child{
    margin-bottom: 0;
}
header .logIn {
    position: relative;
    z-index: 41;
    height: 100%;
}

header span.select-lang {
    position: relative;
    z-index: 2;
}

header .lang .select {
    width: 4.895833333333333vw;
    left: calc(50% - 2.9vw);
    text-align: center;
    padding-top: 3.1770833333333335vw;
    top: 0px;
}

header .logIn.active .select-login {
    display: block;
    background: white;
}

header .logIn .select-login {
  position: absolute;
  width: 243px;
  left: -95px;
  top: 96px;
  height: auto;
  border-radius: 8px;
  z-index: 17;
  background: white;
  padding: 15px;
}

header .logIn button:not(.login):nth-child(1) {
    margin-top: 0;
}

header .logIn button:not(.login) {
    height: 2.7083333333333335vw;
    background: #255ECC;
    border-radius: 0.15625vw;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 1.0416666666666667vw;
    line-height: 0.9375vw;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    display: block;
    margin: 0.78125vw auto;
  margin-bottom: 0;
    cursor: pointer;
}
header ul li.user {
    display: none;
}

header .enter {
    display: none;
}

header .enter.active {
    display: block;
}

.modal-contant button.hiden {
    display: none;
}

.modal-contant .back {
    background-color: transparent;
    color: #3B3A45;
    opacity: 0.6;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    margin-top: 0.7291666666666666vw;
    border-bottom: 0.052083333333333336vw solid #3B3A45;
    border-radius: 0;
}

header {
    position: relative;
}

/*welcom*/

.welcom{
  height: 425px;
  background-image: url("../images/img/welcom/BGWelcom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.welcom h1{
  margin-top: 70px;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 780px;
}

.welcom .row-info{
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  margin-top: 60px;
  align-items: end;
}
.welcom .row-info .top{
  display: flex;
  gap: 8px;
  align-items: center;
}
.welcom .row-info h3{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.welcom .row-info .line{
  display: flex;
  gap: 40px;
  margin-top: 18px;
  padding-left: 60px;
  align-items: center;
}
.welcom .row-info .line span{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #C0D5FF;
}

.welcom .row-info .right .line{
  align-items: end;
  padding-left: 0;
  margin-left: -50px;
  gap: 0;
  margin-top: 12px;
}
.welcom .row-info .right .line span{
  display: block;
  margin-right: 22px;
  white-space: nowrap;
}
.welcom .row-info .right .line span:first-of-type{
  margin-left: 12px;
}
.modal.reg  .transition-all{
    filter: brightness(0) invert(1);
}

.modal.reg .select-title{
    padding: .825vw;
   border: 2px solid #255ECC !important;
   border-radius: 4px;
}
.modal.reg .select-title span  {
    font-size: 0.833vw;
    line-height: 0.833vw;
    color: #255ECC !important;

}
.modal.reg  .hover__select{
  color: #255ECC !important;
}
  /**rowInfo*/
.rowInfo{
  background: #F5F5F5;
  padding: 25px 0px;
}
.rowInfo .row-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rowInfo .row-info .block{
  display: flex;
  gap: 18px;
  flex-direction: column;
  text-align: center;
}
.rowInfo .row-info .block h4{
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  color: #255ECC;
  text-align: center;
}
.rowInfo .row-info .block p{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  color: #262626;
  text-align: center;
}


/**grid-info**/
.grid-info{

}
.grid-info h2{
  padding-top: 40px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color:  #255ECC;
}
.grid-info h3{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-top: 15px;
}
.grid-info h4{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-top: 15px;
}
.grid-info  button{
  background: #255ECC;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding: 17px 45px;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}
.grid-info .grid-setka{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
.grid-info .grid-setka .slide{
  padding: 30px;
  background: #F5F5F5;
  border-radius: 8px;
}
.grid-info .grid-setka .slide h5{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-top: 18px;
}
.grid-info-row{
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 20px;
}
.grid-info-row .rightImg{
  background-image: url("../../public/images/img/forBuilders/5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
}
.grid-info .grid-setka.two{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.grid-info .grid-setka .slide button{
  padding: 4px 7px;
  margin-left: 0;
  margin-top: 5px;
}


/*lowSection*/
.lowSection .rowLowSecion{
   display: grid;
   grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 70px;
}
.lowSection .rowLowSecion h2{
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #255ECC;
  margin-bottom: 30px;
  max-width: 400px;
}
.lowSection .rowLowSecion a{
  width: fit-content;
  display: block;
}
.lowSection .rowLowSecion .logo{
  width: 253px;
}
.lowSection .rowLowSecion .row-refs p{
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.lowSection .rowLowSecion .row-refs p:first-child{
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.lowSection .rowLowSecion .row-refs{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}
.lowSection .rowLowSecion .col-refs-prog{
  display: flex;
  gap: 20px;
  align-items: center;
}
.lowSection .rowLowSecion .col-refs-prog .shtrich{
  width: 128px;
  height: 124px ;
}
@media  (min-width: 1000px) and (max-width: 1400px) {
  .container{
    width: calc(100% - 150px);
  }
  .grid-info-row {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
  }
}


@media (max-width: 1000px) {
  header ul li.btns {
    display: none;
  }

  header ul li.ref-soc {
    display: none;
  }

  header .lang span {
    font-size: 4.375vw; /* (значение px / 320) * 100 */
    line-height: 5vw; /* (значение px / 320) * 100 */
  }

  header .lang {
    margin-right: 8.75vw; /* (значение px / 320) * 100 */
    margin-left: auto;
    padding-top: 3vw;
  }

  header ul li.user {
    display: block;
    width: 6.875vw; /* (значение px / 320) * 100 */
    height: 6.875vw; /* (значение px / 320) * 100 */
  }

  .modal {
    padding: 7.1875vw;
    width: calc(100% - 25vw);
    max-width: none;
  }

  .modal.lodinn-btns .modal-contant {
    background: white;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 4.6875vw; /* (значение px / 320) * 100 */
  }

  .modal button {
    font-size: 3.75vw;
    padding: 4.0625vw;
    line-height: 5vw;
  }

  .modal h2 {
    text-align: center;
    font-size: 6.25vw;
    line-height: 8.125vw;
    margin-bottom: 10vw;
  }

  .modal input {
    height: 11.875vw;
    margin: 0;
    font-size: 3.75vw;
    line-height: 4.375vw;
    margin-bottom: -4.6875vw;
  }

  .modal form div{
    height: 11.875vw;
    padding: 0;
  }
  .modal div.flex{
    height: 11.875vw;
    padding: 0;
  }
  .modal a {
    font-weight: 400;
    font-size: 5vw;
    line-height: 5vw;
  }

  .modala {
    display: block;
    text-align: center;
    margin-top: 15.625vw;
  }

  .modal button:not(.login-ref) {
    background: #255ECC;
    width: 100%;
    border: 0;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 400;
    font-size: 4.375vw;
    line-height: 8.125vw;
    color: #FFFFFF;
    display: block;
    padding: 1.875vw;
    text-align: center;
    border-radius: 1.5625vw;
    opacity: 1;
    margin-top: 0;
  }

  header .lang .select {
    width: 13.75vw;
    left: calc(50% - 4.6875vw);
    text-align: center;
    padding-top: 13.4375vw;
    top: 0;
  }

  header ul {
    grid-template-columns: 32.8125vw 1fr auto;
  }

  header .lang {
    margin-left: auto;
  }
  .modal.reg {
    padding: 8.75vw;
  }
  .modal.reg input {
    height: 9.87vw;
  }
  .modal.reg .select {
    height: auto;
  }
  .modal.reg .select-title{
    padding: 3.75vw;
  }
  .modal button:not(.login-ref) {
    background: #255ECC;
  }
  .modal.reg .select-title span  {
    font-size: 3vw;
    line-height: 3vw;
  }
}
